@using Entidades

@model List<E_Game>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaPrincipal</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <h1 class="display-1"> Videojuegos </h1>
        <a href="/Home/IrFormulario" class="btn btn-success mt-3  mb-3"> Agregar </a>

        <!-- Mensajes -->

        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success mt-3">
                @TempData["mensaje"]
            </div>
        }

        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger mt-3">
                @TempData["error"]
            </div>
        }

        <!-- Cartas -->
        <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (E_Game juego in Model)
            {
                <div class="col">
                    <div class="card text-dark bg-light" style=" width: 18rem;">

                        <img src="~/Imagenes/@juego.imagen" class="card-img-top" alt="@juego.nombre" style="height: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title"> @juego.nombre </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fecha de Lanzamiento: @juego.fechaLanzamiento.ToString("yyyy-MM-dd")</li>
                            <li class="list-group-item">Precio: @juego.precio.ToString("c")</li>
                        </ul>
                        <div class="card-footer">
                            <a href="/Home/Editar?id=@juego.idVideojuego" class="btn btn-primary">Editar</a>
                            <a href="/Home/Eliminar?id=@juego.idVideojuego" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            }

        </div>


    </div>

</body>
</html>
